@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Rubik:300,400,500,700,900&display=swap");
h1, h2, h3, h4, h5, h6 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
}

h2 {
  font-size: 32px;
  margin-bottom: 16px;
  margin-top: 20px;
}

h5 {
  font-size: 20px;
}

p {
  color: #888888;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

#alert-box .discount {
  background-color: #f6475f;
  padding: 12px;
}

#alert-box .discount .discount-content {
  font-family: "Roboto", sans-serif;
}

#alert-box .discount .discount-content span {
  color: white;
}

#alert-box .discount .discount-content span a {
  text-decoration: underline;
  color: white;
}

#alert-box .discount .discount-content button {
  float: none;
  vertical-align: middle;
  margin-left: 15px;
  font-size: 30px;
  padding: 0px;
  margin-bottom: 4px;
  font-family: inherit;
}

#top-nav .top-navigation {
  background-color: #343a40;
}

#top-nav .top-navigation .contact {
  padding: 12px;
  margin-bottom: 0px;
}

#top-nav .top-navigation .contact li {
  font-size: 14px;
  list-style-type: none;
  display: inline-block;
}

#top-nav .top-navigation .contact li a {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#top-nav .top-navigation .contact li a i {
  margin-right: 9px;
}

#top-nav .top-navigation .contact li a:hover {
  color: #FFBC09;
}

#top-nav .top-navigation .contact li:last-child {
  margin-left: 9px;
}

#top-nav .top-navigation span {
  color: white;
  font-size: 28px;
  margin-bottom: 8px;
}

#navigation-bar {
  position: relative;
}

#navigation-bar .search-panel {
  display: none;
  position: absolute;
  top: 70px;
  right: 15px;
}

#navigation-bar .search-panel .form-control {
  border-right: none;
}

#navigation-bar .search-panel .input-group-append {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
  font-size: 13px;
  border-color: #ced4da;
}

#navigation-bar .search-panel .input-group-append a {
  color: black;
}

#navigation-bar .navbar {
  padding: 0px;
}

#navigation-bar .navbar .collapse .navbar-nav .nav-item .search-menu {
  margin-left: -140px;
  z-index: 1;
  padding: 8px;
  width: 200px;
}

#navigation-bar .navbar .collapse .navbar-nav .nav-item .search-menu input {
  position: relative;
}

#navigation-bar .navbar .collapse .navbar-nav .nav-item .search-menu a {
  position: absolute;
  top: 7px;
  right: 7px;
}

#navigation-bar .navbar .collapse .navbar-nav .nav-item .search-menu a i {
  color: black;
}

#navigation-bar .navbar .collapse .navbar-nav .nav-item .nav-link {
  color: #292b2c;
  font-size: 14px;
  font-weight: 600;
  padding: 25px 10px;
  text-transform: uppercase;
}

#navigation-bar .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #FFBC09;
}

#navigation-bar .navbar .collapse .navbar-nav .nav-item .dropdown:after {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

.nav-fix {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: white;
}

#eduglobal {
  padding: 100px;
  background-color: #f7f7f7;
}

#eduglobal .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#eduglobal .row .intro {
  text-align: center;
}

#eduglobal .card {
  text-align: center;
  padding: 30px;
  border-radius: 20px;
}

#eduglobal .card:hover {
  margin-top: -20px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#eduglobal .card:hover .box-icon::before {
  margin: 5px;
  opacity: 1;
}

#eduglobal .card .card-body {
  padding: 20px 0 0 0;
}

#eduglobal .card .box-icon {
  margin: 0 auto;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  text-align: center;
  line-height: 105px;
  position: relative;
}

#eduglobal .card .box-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #fff;
  border-radius: 100%;
  margin: 0px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

#eduglobal .card .book {
  background-color: #f6475f;
}

#eduglobal .card .globe {
  background-color: #FFBC09;
}

#eduglobal .card .instructors {
  background-color: #b3d36a;
}

#popular-categories {
  padding: 100px;
}

#popular-categories .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#popular-categories .row .intro {
  text-align: center;
}

#about-us {
  overflow: hidden;
  padding: 100px 0;
}

#about-us .container-fluid .about {
  margin-right: -50px;
  position: relative;
  z-index: 2 !important;
  border-radius: 0 200px 200px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 8%;
  background-color: white;
}

#about-us .container-fluid .about p {
  text-align: left;
}

#about-us .container-fluid .about ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-us .container-fluid .about ul li {
  text-align: left;
}

#about-us .container-fluid .about ul li:first-child {
  margin-right: 20px;
}

#about-us .container-fluid .about ul li:first-child h3 {
  color: #f6475f;
}

#about-us .container-fluid .about ul li:last-child h3 {
  color: #b3d36a;
}

#about-us .container-fluid .video {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

#about-us .container-fluid .video::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#about-us .container-fluid .video img {
  z-index: -1;
  position: relative;
  max-width: 100%;
  border-style: none;
}

#about-us .container-fluid .play {
  position: absolute;
  right: 0;
  display: table;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

#about-us .container-fluid .play .play-btn {
  background-color: #ffffff;
  border-radius: 100%;
  color: #ffbc09;
  position: relative;
  display: inline-block;
  margin-right: 25px;
  line-height: 50px;
  font-size: 18px !important;
  vertical-align: middle;
  margin-left: 0;
  height: 50px;
  width: 50px;
  text-align: center;
}

#about-us .container-fluid .play .play-btn .fa-play {
  color: #FFBC09;
}

#about-us .container-fluid .play .play-btn .fa-play:hover {
  cursor: pointer;
}

#our-courses {
  padding: 100px;
}

#our-courses .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#our-courses .row .intro {
  text-align: center;
}

#our-courses .row .card {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 30px;
}

#our-courses .row .card .card-img {
  overflow: hidden;
}

#our-courses .row .card .card-img a {
  display: block;
}

#our-courses .row .card .card-img a img {
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#our-courses .row .card .card-img a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#our-courses .row .card .card-body {
  padding: 0px;
}

#our-courses .row .card .card-body .card-txt {
  padding: 15px;
}

#our-courses .row .card .card-body .card-txt .card-inform p {
  margin-bottom: 10px;
  text-align: left;
}

#our-courses .row .card .card-body .card-txt .course-inform {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#our-courses .row .card .card-body .card-txt .course-inform .stars {
  color: #FFBC09;
  font-size: 12px;
  float: left;
}

#our-courses .row .card .card-body .card-txt .course-inform .view-like {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  font-size: 12px;
}

#our-courses .row .card .card-body .card-txt .course-inform .view-like li a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#our-courses .row .card .card-body .card-txt .course-inform .view-like li a:hover {
  color: #FFBC09;
}

#our-courses .row .card .card-body .card-txt .course-inform .view-like li:first-child {
  margin-right: 5px;
}

#our-courses .row .card .card-footer {
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  width: 100%;
}

#our-courses .row .card .card-footer .teacher a {
  color: #292b2c;
  text-decoration: none;
  cursor: pointer;
}

#our-courses .row .card .card-footer .teacher a img {
  border-radius: 100%;
  max-width: 40px;
  margin-right: 10px;
}

#our-courses .row .card .card-footer .teacher a span {
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#our-courses .row .card .card-footer .teacher a span:hover {
  color: #FFBC09;
}

#our-courses .row .card .card-footer .price {
  float: right;
  margin-top: 7px;
}

#our-courses .row .card .card-footer .price .free {
  position: relative;
  border: 1px solid #c3e6cb;
  color: #165825;
  background-color: #d4edda;
  padding: 5px 15px;
  margin: 0px;
  border-radius: 0.25rem;
}

#our-courses .row .card .card-footer .price .paid {
  position: relative;
  border: 1px solid #bee5eb;
  color: #236671;
  background-color: #d1ecf1;
  padding: 5px 15px;
  margin: 0px;
  border-radius: 0.25rem;
}

#our-courses .all-courses {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 50px;
}

#our-courses .all-courses a span {
  font-size: 20px;
}

#counter {
  overflow: hidden;
  position: relative;
}

#counter .counter-bg-img {
  width: 100%;
  height: 350px;
  background-color: rgba(7, 41, 77, 0.7);
  position: relative;
}

#counter .counter-bg-img::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#counter .counter-bg-img img {
  z-index: -1;
  position: relative;
  max-width: 100%;
  border-style: none;
  margin-top: -200px;
}

#counter .container {
  position: absolute;
  top: 50%;
}

#counter .container .row {
  margin-left: 25%;
}

#counter .container .counter-body h3 {
  color: #fff;
}

#counter .container .counter-body p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#upcoming {
  padding: 100px;
}

#upcoming .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#upcoming .row .intro {
  text-align: center;
}

#upcoming .card {
  border-radius: 10px;
  margin-top: 30px;
}

#upcoming .card .card-img {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

#upcoming .card .card-img a {
  display: block;
}

#upcoming .card .card-img a img {
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#upcoming .card .card-img a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#upcoming .card .card-img .event-date {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 75px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  border-radius: 7px;
}

#upcoming .card .card-img .event-date h5 span {
  background-color: white;
  color: black;
  display: block;
  border-radius: 5px 5px 0 0;
}

#upcoming .card .card-img .event-date span {
  background-color: #FFBC09;
  color: white;
  display: block;
  border-radius: 0 0 5px 5px;
}

#upcoming .card .card-body .card-inform h6 {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  cursor: pointer;
}

#upcoming .card .card-body .card-inform h6:hover {
  color: #FFBC09;
}

#upcoming .card .card-body .card-inform .view {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

#upcoming .card .card-body .card-inform .view li {
  float: left;
}

#upcoming .card .card-body .card-inform .view li:first-child {
  margin-right: 20px;
}

#upcoming .card .card-body .card-inform .view li a {
  text-decoration: none;
  color: #FFBC09;
}

#upcoming .card .card-body .card-inform .card-text {
  text-align: left;
}

#online-courses {
  padding: 80px 0 0 0;
  position: relative;
  width: 100%;
  background-image: url(../img/pattern_bg.png);
  background-position: center center;
  background-size: cover;
  background-color: #07294d;
  margin-top: 100px;
}

#online-courses .register-form {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8%;
  opacity: 1;
}

#online-courses .register-form .register-heading {
  color: white;
}

#online-courses .register-form .register-heading h2 {
  color: white;
  margin-bottom: 16px;
  text-transform: capitalize;
}

#online-courses .register-form .register-heading h2 span {
  color: #ffbc09 !important;
}

#online-courses .register-form p {
  color: white;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: left;
  font-weight: bold;
}

#online-courses .register-form form .form-control {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  height: 47px;
  padding: 10px 20px;
  margin-top: 30px;
}

#online-courses .register-form form .message {
  height: auto;
  padding: 10px 20px;
}

#online-courses .img {
  text-align: center;
  vertical-align: middle;
  padding: 0;
  opacity: 1;
  -webkit-animation-delay: 0.03s;
          animation-delay: 0.03s;
}

#our-gallery {
  padding: 100px;
}

#our-gallery .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#our-gallery .row .intro {
  text-align: center;
}

#our-gallery .buttons ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
}

#our-gallery .buttons ul li {
  margin: 0 10px;
}

#our-gallery .buttons ul li a {
  text-decoration: none;
}

#our-gallery .active {
  background-color: #FFBC09;
  color: white;
}

#our-gallery .row {
  padding: 0;
}

#our-gallery .gallery-item {
  width: 100%;
}

#our-gallery .item {
  float: left;
  margin: 10px 10px;
  z-index: 1;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  background-color: black;
}

#our-gallery .item img {
  border-radius: 10px;
  position: relative;
}

#our-gallery .item img:hover {
  opacity: 0.7;
}

#our-gallery .item .gallery-title {
  position: absolute;
  top: 32%;
  right: 97px;
}

#our-gallery .item .gallery-title .image-icon {
  margin-left: 27px;
}

#our-gallery .item .gallery-title h5 {
  color: white;
  margin-right: 24px;
  margin-top: 10px;
}

#our-teachers {
  background-image: url("../img/teacher_bg.jpg");
  padding: 100px 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#our-teachers:before {
  background-color: rgba(7, 41, 77, 0.9);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#our-teachers .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#our-teachers .row .intro {
  text-align: center;
}

#our-teachers .row .intro h2 {
  color: white;
}

#our-teachers .row .intro p {
  color: white;
}

#our-teachers .card {
  border: 0px;
}

#our-teachers .card .card-body {
  text-align: center;
}

#student-say {
  padding: 100px;
}

#student-say .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#student-say .row .intro {
  text-align: center;
}

#student-say .student-owl-carousel .student-owl-item .item .box {
  background-color: #fff;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px 30px 15px 50px;
  margin: 5px 5px 5px 50px;
  position: relative;
  z-index: 1;
}

#student-say .student-owl-carousel .student-owl-item .item .box:before {
  content: "\f10e";
  position: absolute;
  right: 40px;
  top: 0;
  font-family: "Font Awesome 5 Pro";
  font-size: 190px;
  line-height: normal;
  font-weight: 900;
  z-index: -1;
  color: rgba(0, 0, 0, 0.02);
}

#student-say .student-owl-carousel .student-owl-item .item .box .box-image {
  margin-right: 20px;
  margin-left: -100px;
  position: absolute;
}

#student-say .student-owl-carousel .student-owl-item .item .box .box-image img {
  border-radius: 5px;
}

#student-say .student-owl-carousel .student-owl-item .item .box .box-content {
  overflow: hidden;
}

#student-say .student-owl-carousel .student-owl-item .item .box .box-content .user-name {
  text-align: left;
}

#student-say .student-owl-carousel .student-owl-item .item .box .box-content .user-name h6 {
  margin-bottom: 8px;
}

#student-say .student-owl-carousel .student-owl-item .item .box .box-content .user-name span {
  font-style: italic;
  color: #FFBC09;
}

#student-say .student-owl-carousel .student-owl-item .item .box .box-content .user-comment p {
  text-align: left;
}

#blog {
  padding: 100px;
  background-color: #f7f7f7;
}

#blog .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#blog .row .intro {
  text-align: center;
}

#blog .card {
  overflow: hidden;
  border-radius: 10px;
  margin-top: 30px;
}

#blog .card .card-img {
  position: relative;
  overflow: hidden;
}

#blog .card .card-img:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#blog .card .card-body {
  padding: 16px;
}

#blog .card .card-body .card-txt .card-inform {
  text-align: left;
}

#blog .card .card-body .card-txt .card-inform h6 a {
  text-decoration: none;
  color: #292b2c;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#blog .card .card-body .card-txt .card-inform h6 a:hover {
  color: #FFBC09;
}

#blog .card .card-body .card-txt .card-inform p {
  text-align: left;
  margin-bottom: 10px;
}

#blog .card .card-body .card-txt .card-inform a {
  text-decoration: none;
  color: #292b2c;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#blog .card .card-body .card-txt .card-inform a:hover {
  color: #FFBC09;
}

#blog .card .card-footer {
  padding: 15px;
  border-radius: 0 0 10px 10px;
  line-height: normal;
  background-color: white;
}

#blog .card .card-footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin-bottom: 0;
}

#blog .card .card-footer ul li {
  color: #292b2c;
}

#blog .card .card-footer ul li a {
  text-decoration: none;
  color: #888888;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#blog .card .card-footer ul li a:hover {
  color: #FFBC09;
}

#blog .card .card-footer ul li a i {
  color: #FFBC09;
  margin-right: 5px;
}

#blog .card .card-footer ul li:first-child {
  margin-right: 10px;
}

#blog .all-blog {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 50px;
}

#blog .all-blog a span {
  font-size: 20px;
}

#our-client {
  padding: 100px;
}

#our-client .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#our-client .row .intro {
  text-align: center;
}

#our-client .client-owl-carousel {
  margin-top: 50px;
}

#training {
  background-color: #FFBC09;
  padding: 50px 0;
  position: relative;
  width: 100%;
}

#training .txt {
  float: left;
}

#training .txt h2 {
  color: white;
}

#training .txt p {
  color: white;
}

#training .button {
  text-align: center;
  margin-top: 30px;
  display: block;
  float: right;
}

#footer-top {
  padding: 100px;
  background-color: #343a40;
}

#footer-top .footer-contact p {
  font-size: 14px;
  text-align: left;
  color: white;
  margin-top: 10px;
}

#footer-top .footer-contact ul {
  list-style-type: none;
  padding: 0;
}

#footer-top .footer-contact ul li {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#footer-top .footer-contact ul li i {
  color: white;
  font-size: 18px;
  vertical-align: middle;
  max-width: 30px;
  width: 100%;
  text-align: center;
  margin-right: 5px;
}

#footer-top .footer-contact ul li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#footer-top .footer-contact ul li a:hover {
  color: #FFBC09;
}

#footer-top .footer-contact ul li span {
  font-size: 14px;
}

#footer-top .useful-links h6 {
  color: white;
  font-size: 18px;
  margin: 10px 0 20px 0;
}

#footer-top .useful-links ul {
  list-style-type: none;
  padding: 0;
}

#footer-top .useful-links ul li {
  padding-bottom: 10px;
}

#footer-top .useful-links ul li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

#footer-top .useful-links ul li a:hover {
  color: #FFBC09;
  margin-left: 10px;
}

#footer-top .recent-post h6 {
  color: white;
  font-size: 18px;
  margin: 10px 0 20px 0;
}

#footer-top .recent-post ul {
  list-style-type: none;
  padding: 0;
}

#footer-top .recent-post ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

#footer-top .recent-post ul li .posts .post-img {
  float: left;
  margin-right: 10px;
  max-width: 60px;
}

#footer-top .recent-post ul li .posts .post-img a img {
  max-width: 100%;
}

#footer-top .recent-post ul li .posts .post-content {
  overflow: hidden;
  margin-top: -10px;
}

#footer-top .recent-post ul li .posts .post-content h6 {
  font-size: 14px;
  line-height: normal;
  margin-bottom: 5px;
  font-weight: normal;
}

#footer-top .recent-post ul li .posts .post-content h6 a {
  text-decoration: none;
  color: white;
  transition: all 0.5;
  -webkit-transition: all 0.5;
  -moz-transition: all 0.5;
}

#footer-top .recent-post ul li .posts .post-content h6 a:hover {
  color: #FFBC09;
}

#footer-top .recent-post ul li .posts .post-content span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 80%;
}

#footer-top .sub-news h6 {
  color: white;
  font-size: 18px;
  margin: 10px 0 20px 0;
}

#footer-top .sub-news p {
  font-size: 14px;
  text-align: left;
  color: white;
  margin-top: 10px;
}

#footer-top .sub-news .input-group input {
  position: relative;
  border-radius: 5px;
}

#footer-top .sub-news .input-group .input-group-append a {
  text-decoration: none;
  color: white;
  position: absolute;
  right: 4px;
  top: 4px;
}

#footer-top .sub-news .input-group .input-group-append .btn {
  padding: 2px 15px;
  border-radius: 5px;
}

#footer-top .sub-news ul {
  list-style: none;
  padding: 0;
}

#footer-top .sub-news ul li {
  display: inline-block;
  padding: 2px 3px;
}

#footer-top .sub-news ul li a {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 5px;
  font-size: 18px;
  height: 35px;
  width: 35px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#footer-top .sub-news ul li a:hover {
  color: #FFBC09;
}

#footer-bottom {
  background-color: #202325;
  padding: 30px 0;
}

#footer-bottom p {
  color: white;
  font-size: 14px;
}

#footer-bottom ul {
  list-style-type: none;
  text-align: right !important;
  padding: 0;
  margin: 0;
}

#footer-bottom ul li {
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer-bottom ul a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.scrollup {
  background-color: #2f2f2f;
  border-radius: 100%;
  bottom: 20px;
  color: #ffffff;
  font-size: 24px;
  height: 40px;
  line-height: 38px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 40px;
  z-index: 99;
}

.scrollup i {
  color: white;
}

#about-us-head {
  background-image: url(../img/about_bg.jpg);
  padding: 100px 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#about-us-head:before {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#about-us-head h2 {
  color: white;
}

#about-us-head .links {
  margin-top: 25px;
  margin-left: 379px;
}

#about-us-head .links ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-us-head .links ul li {
  color: white;
  padding: 3px;
}

#about-us-head .links ul li a {
  text-decoration: none;
  color: white;
}

#about-us-head .links ul li a:hover {
  color: #FFBC09;
}

#courses-head {
  background-image: url(../img/about_bg.jpg);
  padding: 100px 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#courses-head:before {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#courses-head h2 {
  color: white;
}

#courses-head .links {
  margin-top: 25px;
  margin-left: 379px;
}

#courses-head .links ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#courses-head .links ul li {
  color: white;
  padding: 3px;
}

#courses-head .links ul li a {
  text-decoration: none;
  color: white;
}

#courses-head .links ul li a:hover {
  color: #FFBC09;
}

#our-courses .courses-pages {
  padding-top: 50px;
}

#our-courses .courses-pages ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#our-courses .courses-pages ul li {
  margin-right: 5px;
  cursor: pointer;
}

#our-courses .courses-pages ul li a {
  text-decoration: none;
  background-color: #fff;
  border-color: #dee2e6;
  margin-left: 0;
  border-radius: 0.25rem;
  border: 2px solid #dee2e6;
  border-radius: 4px;
  color: #888888;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  padding: 10px;
}

#our-courses .courses-pages ul li a:hover {
  border-color: #FFBC09;
  background-color: #FFBC09;
  color: white;
}

#our-courses .courses-pages ul li .active {
  border-color: #FFBC09;
  background-color: #FFBC09;
  color: white;
}

#our-courses .courses-pages ul li .disable:hover {
  background-color: #fff;
  border-color: #dee2e6;
  color: #888888;
}

#courses-detail-head {
  background-image: url(../img/about_bg.jpg);
  padding: 100px 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#courses-detail-head:before {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#courses-detail-head h2 {
  color: white;
}

#courses-detail-head .links {
  margin-top: 25px;
  margin-left: 372px;
}

#courses-detail-head .links ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#courses-detail-head .links ul li {
  color: white;
  padding: 3px;
}

#courses-detail-head .links ul li a {
  text-decoration: none;
  color: white;
}

#courses-detail-head .links ul li a:hover {
  color: #FFBC09;
}

#detail {
  padding: 100px;
}

#detail .course .course-img {
  position: relative;
}

#detail .course .course-img a img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

#detail .course .price .free {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border: 1px solid #c3e6cb;
  color: #165825;
  background-color: #d4edda;
  padding: 5px 15px;
  margin: 0px;
  border-radius: 0.25rem;
}

#detail .course .enroll a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#detail .course .course-detail {
  background-color: #fff3cd;
  padding: 20px;
  margin-bottom: 40px;
}

#detail .course .course-detail .detail-title {
  border-bottom: 1px solid #dad1b9;
  margin-bottom: 15px;
}

#detail .course .course-detail .detail-title h2 {
  font-size: 24px;
  margin-top: 0;
}

#detail .course .course-detail .detail-content ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

#detail .course .course-detail .detail-content ul li {
  float: left;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #dad1b9;
}

#detail .course .course-detail .detail-content ul li .content img {
  border-radius: 5px;
  float: left;
  margin-right: 10px;
  max-width: 50px;
  width: 100%;
}

#detail .course .course-detail .detail-content ul li .content .info {
  overflow: hidden;
}

#detail .course .course-detail .detail-content ul li .content .info span {
  display: block !important;
  font-weight: bold;
  color: #333;
  margin: 0;
}

#detail .course .course-detail .detail-content ul li .content .info a {
  color: #292b2c;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#detail .course .course-detail .detail-content ul li .content .info a:hover {
  color: #FFBC09;
}

#detail .course .course-detail .detail-content ul li .content .info ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

#detail .course .course-detail .detail-content ul li .content .info ul li {
  border-right: 0 solid #dad1b9;
  padding: 0;
  margin: 2px;
}

#detail .course .course-detail .detail-content ul li .content .info ul li i {
  color: #FFBC09;
  font-size: 12px;
}

#detail .course .course-detail .detail-content ul li:last-child {
  border-right: 0 solid #dad1b9;
}

#detail .course .card {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 30px;
}

#detail .course .card .card-img {
  overflow: hidden;
}

#detail .course .card .card-img a {
  display: block;
}

#detail .course .card .card-img a img {
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#detail .course .card .card-img a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#detail .course .card .card-body {
  padding: 0px;
}

#detail .course .card .card-body .card-txt {
  padding: 15px;
}

#detail .course .card .card-body .card-txt .card-inform p {
  margin-bottom: 10px;
  text-align: left;
}

#detail .course .card .card-body .card-txt .course-inform {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#detail .course .card .card-body .card-txt .course-inform .stars {
  color: #FFBC09;
  font-size: 12px;
  float: left;
}

#detail .course .card .card-body .card-txt .course-inform .view-like {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  font-size: 12px;
}

#detail .course .card .card-body .card-txt .course-inform .view-like li a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#detail .course .card .card-body .card-txt .course-inform .view-like li a:hover {
  color: #FFBC09;
}

#detail .course .card .card-body .card-txt .course-inform .view-like li:first-child {
  margin-right: 5px;
}

#detail .course .card .card-footer {
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  width: 100%;
}

#detail .course .card .card-footer .teacher a {
  color: #292b2c;
  text-decoration: none;
  cursor: pointer;
}

#detail .course .card .card-footer .teacher a img {
  border-radius: 100%;
  max-width: 40px;
  margin-right: 10px;
}

#detail .course .card .card-footer .teacher a span {
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#detail .course .card .card-footer .teacher a span:hover {
  color: #FFBC09;
}

#detail .course .card .card-footer .price {
  float: right;
  margin-top: 7px;
}

#detail .course .card .card-footer .price .free {
  position: relative;
  border: 1px solid #c3e6cb;
  color: #165825;
  background-color: #d4edda;
  padding: 5px 15px;
  margin: 0px;
  border-radius: 0.25rem;
}

#detail .course .card .card-footer .price .paid {
  position: relative;
  border: 1px solid #bee5eb;
  color: #236671;
  background-color: #d1ecf1;
  padding: 5px 15px;
  margin: 0px;
  border-radius: 0.25rem;
}

.btn {
  background-color: #FFBC09;
  padding: 7px 15px;
  color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn:before {
  content: "";
  position: absolute;
  width: 1em;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: skewX(-45deg) translateX(-4em);
          transform: skewX(-45deg) translateX(-4em);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn:hover {
  background-color: #DF9C00;
  color: white;
}

.btn:hover:before {
  -webkit-transform: skewX(-45deg) translateX(20em);
          transform: skewX(-45deg) translateX(20em);
}

.btn-lg {
  padding: 12px 30px;
}

.btn-prim {
  background-color: #eee;
  padding: 5px 25px;
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 4px;
  color: #292b2c;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.btn-prim:hover {
  background-color: #FFBC09;
  color: white;
}

.btn-outline-white {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 12px 30px;
}

.btn-outline-white:before {
  content: "";
  background-color: #fff;
  height: 100%;
  width: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.btn-outline-white:hover {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0;
  border: 1px solid #fff;
  color: white;
  padding: 9px 20px;
  border-radius: 3px;
  margin-left: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: transparent;
}

.ripple {
  background-color: #ffffff;
  border-radius: 100%;
  color: #ffbc09;
  position: relative;
  display: inline-block;
  margin-right: 25px;
  line-height: 50px;
  font-size: 18px !important;
  vertical-align: middle;
  margin-left: 0;
  height: 50px;
  width: 50px;
  text-align: center;
}

.ripple::after {
  content: "";
  -webkit-animation: ripple 1.4s infinite;
          animation: ripple 1.4s infinite;
  background-color: #ffffff;
  border-radius: 100%;
  margin: -10px;
  bottom: 0px;
  display: block;
  left: 0px;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale3d(0.75, 0.75, 1);
            transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1);
            transform: scale3d(1.5, 1.5, 1);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale3d(0.75, 0.75, 1);
            transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1);
            transform: scale3d(1.5, 1.5, 1);
  }
}

.ripple::before {
  content: "";
  -webkit-animation: ripple 2s infinite;
          animation: ripple 2s infinite;
  background-color: #ffffff;
  border-radius: 100%;
  margin: -20px;
  bottom: 0px;
  display: block;
  left: 0px;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale3d(0.75, 0.75, 1);
            transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1);
            transform: scale3d(1.5, 1.5, 1);
  }
}

#corusel {
  overflow: hidden;
}

#corusel #carouselExampleControls {
  height: 470px;
}

#corusel #carouselExampleControls .carousel-inner .carousel-item img {
  margin-top: -100px;
}

#popular-categories .owl-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#popular-categories .owl-carousel .owl-item {
  width: 172.5px;
  margin-right: 15px;
}

#popular-categories .owl-carousel .owl-item .item .categories {
  margin-right: 10px;
}

#popular-categories .owl-carousel .owl-item .item .categories a {
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 30px 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#popular-categories .owl-carousel .owl-item .item .categories a i {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
}

#popular-categories .owl-carousel .owl-item .item .categories .green {
  background-color: #b3d36a;
}

#popular-categories .owl-carousel .owl-item .item .categories .orange {
  background-color: #FFBC09;
}

#popular-categories .owl-carousel .owl-item .item .categories .violet {
  background-color: #f94fa4;
}

#popular-categories .owl-carousel .owl-item .item .categories .blue {
  background-color: #38ddf7;
}

#popular-categories .owl-carousel .owl-item .item .categories .dark-orange {
  background-color: #f89035;
}

#popular-categories .owl-carousel .owl-item .item .categories .danger {
  background-color: #f6475f;
}
/*# sourceMappingURL=style.css.map */