@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Rubik:300,400,500,700,900&display=swap");
h1, h2, h3, h4, h5, h6 {
  color: #292b2c;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
}

h2 {
  font-size: 32px;
  margin-bottom: 16px;
  margin-top: 20px;
}

h5 {
  font-size: 20px;
}

p {
  color: #888888;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

#alert-box .discount {
  background-color: #f6475f;
  padding: 12px;
}

#alert-box .discount .discount-content {
  font-family: "Roboto", sans-serif;
}

#alert-box .discount .discount-content span {
  color: white;
}

#alert-box .discount .discount-content span a {
  text-decoration: underline;
  color: white;
}

#alert-box .discount .discount-content button {
  float: none;
  vertical-align: middle;
  margin-left: 15px;
  font-size: 30px;
  padding: 0px;
  margin-bottom: 4px;
  font-family: inherit;
}

#top-nav .top-navigation {
  background-color: #343a40;
}

#top-nav .top-navigation .contact {
  padding: 12px;
  margin-bottom: 0px;
}

#top-nav .top-navigation .contact li {
  font-size: 14px;
  list-style-type: none;
  display: inline-block;
}

#top-nav .top-navigation .contact li a {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#top-nav .top-navigation .contact li a i {
  margin-right: 9px;
}

#top-nav .top-navigation .contact li a:hover {
  color: #FFBC09;
}

#top-nav .top-navigation .contact li:last-child {
  margin-left: 9px;
}

#top-nav .top-navigation span {
  color: white;
  font-size: 28px;
  margin-bottom: 8px;
}

#navigation-bar {
  position: relative;
}

#navigation-bar .search-panel {
  display: none;
  position: absolute;
  top: 70px;
  right: 15px;
}

#navigation-bar .search-panel .form-control {
  border-right: none;
}

#navigation-bar .search-panel .input-group-append {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
  font-size: 13px;
  border-color: #ced4da;
}

#navigation-bar .search-panel .input-group-append a {
  color: black;
}

#navigation-bar .navbar {
  padding: 0px;
}

#navigation-bar .navbar .collapse .navbar-nav .nav-item .nav-link {
  color: #292b2c;
  font-size: 14px;
  font-weight: 600;
  padding: 25px 10px;
  text-transform: uppercase;
}

#navigation-bar .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #FFBC09;
}

#navigation-bar .navbar .collapse .navbar-nav .nav-item .dropdown:after {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}

.nav-fix {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: white;
}

#eduglobal {
  padding: 100px;
  background-color: #f7f7f7;
}

#eduglobal .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#eduglobal .row .intro {
  text-align: center;
}

#eduglobal .card {
  text-align: center;
  padding: 30px;
  border-radius: 20px;
}

#eduglobal .card:hover {
  margin-top: -20px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#eduglobal .card:hover .box-icon::before {
  margin: 5px;
  opacity: 1;
}

#eduglobal .card .card-body {
  padding: 20px 0 0 0;
}

#eduglobal .card .box-icon {
  margin: 0 auto;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  text-align: center;
  line-height: 105px;
  position: relative;
}

#eduglobal .card .box-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #fff;
  border-radius: 100%;
  margin: 0px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

#eduglobal .card .book {
  background-color: #f6475f;
}

#eduglobal .card .globe {
  background-color: #FFBC09;
}

#eduglobal .card .instructors {
  background-color: #b3d36a;
}

#popular-categories {
  padding: 100px;
}

#popular-categories .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#popular-categories .row .intro {
  text-align: center;
}

#about-us {
  overflow: hidden;
}

#about-us .container-fluid .about {
  margin-right: -50px;
  position: relative;
  z-index: 2 !important;
  border-radius: 0 200px 200px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 8%;
  background-color: white;
}

#about-us .container-fluid .about p {
  text-align: left;
}

#about-us .container-fluid .about ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-us .container-fluid .about ul li {
  text-align: left;
}

#about-us .container-fluid .about ul li:first-child {
  margin-right: 20px;
}

#about-us .container-fluid .about ul li:first-child h3 {
  color: #f6475f;
}

#about-us .container-fluid .about ul li:last-child h3 {
  color: #b3d36a;
}

#about-us .container-fluid .video {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

#about-us .container-fluid .video::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#about-us .container-fluid .video img {
  z-index: -1;
  position: relative;
  max-width: 100%;
  border-style: none;
}

#about-us .container-fluid .play {
  position: absolute;
  right: 0;
  display: table;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

#about-us .container-fluid .play .play-btn {
  background-color: #ffffff;
  border-radius: 100%;
  color: #ffbc09;
  position: relative;
  display: inline-block;
  margin-right: 25px;
  line-height: 50px;
  font-size: 18px !important;
  vertical-align: middle;
  margin-left: 0;
  height: 50px;
  width: 50px;
  text-align: center;
}

#about-us .container-fluid .play .play-btn .fa-play {
  color: #FFBC09;
}

#about-us .container-fluid .play .play-btn .fa-play:hover {
  cursor: pointer;
}

#our-courses {
  padding: 100px;
}

#our-courses .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#our-courses .row .intro {
  text-align: center;
}

#our-courses .row .card {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 30px;
}

#our-courses .row .card .card-img {
  overflow: hidden;
}

#our-courses .row .card .card-img a {
  display: block;
}

#our-courses .row .card .card-img a img {
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#our-courses .row .card .card-img a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#our-courses .row .card .card-body {
  padding: 0px;
}

#our-courses .row .card .card-body .card-txt {
  padding: 15px;
}

#our-courses .row .card .card-body .card-txt .card-inform p {
  margin-bottom: 10px;
  text-align: left;
}

#our-courses .row .card .card-body .card-txt .course-inform {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#our-courses .row .card .card-body .card-txt .course-inform .stars {
  color: #FFBC09;
  font-size: 12px;
  float: left;
}

#our-courses .row .card .card-body .card-txt .course-inform .view-like {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  font-size: 12px;
}

#our-courses .row .card .card-body .card-txt .course-inform .view-like li a {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#our-courses .row .card .card-body .card-txt .course-inform .view-like li a:hover {
  color: #FFBC09;
}

#our-courses .row .card .card-body .card-txt .course-inform .view-like li:first-child {
  margin-right: 5px;
}

#our-courses .row .card .card-footer {
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  width: 100%;
}

#our-courses .row .card .card-footer .teacher a {
  color: #292b2c;
  text-decoration: none;
  cursor: pointer;
}

#our-courses .row .card .card-footer .teacher a img {
  border-radius: 100%;
  max-width: 40px;
  margin-right: 10px;
}

#our-courses .row .card .card-footer .teacher a span {
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

#our-courses .row .card .card-footer .teacher a span:hover {
  color: #FFBC09;
}

#our-courses .row .card .card-footer .price {
  float: right;
  margin-top: 7px;
}

#our-courses .row .card .card-footer .price .free {
  position: relative;
  border: 1px solid #c3e6cb;
  color: #165825;
  background-color: #d4edda;
  padding: 5px 15px;
  margin: 0px;
  border-radius: 0.25rem;
}

#our-courses .row .card .card-footer .price .paid {
  position: relative;
  border: 1px solid #bee5eb;
  color: #236671;
  background-color: #d1ecf1;
  padding: 5px 15px;
  margin: 0px;
  border-radius: 0.25rem;
}

#our-courses .all-courses {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 50px;
}

#our-courses .all-courses a span {
  font-size: 20px;
}

#counter {
  overflow: hidden;
  position: relative;
}

#counter .counter-bg-img {
  width: 100%;
  height: 350px;
  background-color: rgba(7, 41, 77, 0.7);
  position: relative;
}

#counter .counter-bg-img::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#counter .counter-bg-img img {
  z-index: -1;
  position: relative;
  max-width: 100%;
  border-style: none;
  margin-top: -200px;
}

#counter .container {
  position: absolute;
  top: 50%;
}

#counter .container .row {
  margin-left: 25%;
}

#counter .container .counter-body h3 {
  color: #fff;
}

#counter .container .counter-body p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#upcoming {
  padding: 100px;
}

#upcoming .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#upcoming .row .intro {
  text-align: center;
}

#upcoming .card {
  border-radius: 10px;
  margin-top: 30px;
}

#upcoming .card .card-img {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

#upcoming .card .card-img a {
  display: block;
}

#upcoming .card .card-img a img {
  width: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

#upcoming .card .card-img a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#upcoming .card .card-img .event-date {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 75px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  border-radius: 7px;
}

#upcoming .card .card-img .event-date h5 span {
  background-color: white;
  color: black;
  display: block;
  border-radius: 5px 5px 0 0;
}

#upcoming .card .card-img .event-date span {
  background-color: #FFBC09;
  color: white;
  display: block;
  border-radius: 0 0 5px 5px;
}

#upcoming .card .card-body .card-inform h6 {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  cursor: pointer;
}

#upcoming .card .card-body .card-inform h6:hover {
  color: #FFBC09;
}

#upcoming .card .card-body .card-inform .view {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

#upcoming .card .card-body .card-inform .view li {
  float: left;
}

#upcoming .card .card-body .card-inform .view li:first-child {
  margin-right: 20px;
}

#upcoming .card .card-body .card-inform .view li a {
  text-decoration: none;
  color: #FFBC09;
}

#upcoming .card .card-body .card-inform .card-text {
  text-align: left;
}

#online-courses {
  overflow: hidden;
  padding: 80px 0 0 0;
  position: relative;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-color: #07294d;
  margin-top: 100px;
}

#online-courses .register-form {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8%;
  opacity: 1;
}

#online-courses .register-form .register-heading {
  color: white;
}

#online-courses .register-form .register-heading h2 {
  color: white;
  margin-bottom: 16px;
  text-transform: capitalize;
}

#online-courses .register-form .register-heading h2 span {
  color: #ffbc09 !important;
}

#online-courses .register-form p {
  color: white;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: left;
  font-weight: bold;
}

#online-courses .register-form form .form-control {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  height: 47px;
  padding: 10px 20px;
  margin-top: 30px;
}

#online-courses .register-form form .message {
  height: auto;
  padding: 10px 20px;
}

#online-courses .img {
  text-align: center;
}

.btn {
  background-color: #FFBC09;
  padding: 7px 15px;
  color: white;
  position: relative;
  overflow: hidden;
}

.btn:before {
  content: "";
  position: absolute;
  width: 1em;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: skewX(-45deg) translateX(-4em);
          transform: skewX(-45deg) translateX(-4em);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn:hover {
  background-color: #DF9C00;
  color: white;
}

.btn:hover:before {
  -webkit-transform: skewX(-45deg) translateX(20em);
          transform: skewX(-45deg) translateX(20em);
}

.btn-lg {
  padding: 12px 30px;
}

#corusel {
  overflow: hidden;
}

#corusel #carouselExampleControls {
  height: 470px;
}

#corusel #carouselExampleControls .carousel-inner .carousel-item img {
  margin-top: -100px;
}

#popular-categories .owl-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#popular-categories .owl-carousel .owl-item {
  width: 172.5px;
  margin-right: 15px;
}

#popular-categories .owl-carousel .owl-item .item .categories {
  margin-right: 10px;
}

#popular-categories .owl-carousel .owl-item .item .categories a {
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 30px 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#popular-categories .owl-carousel .owl-item .item .categories a i {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
}

#popular-categories .owl-carousel .owl-item .item .categories .green {
  background-color: #b3d36a;
}

#popular-categories .owl-carousel .owl-item .item .categories .orange {
  background-color: #FFBC09;
}

#popular-categories .owl-carousel .owl-item .item .categories .violet {
  background-color: #f94fa4;
}

#popular-categories .owl-carousel .owl-item .item .categories .blue {
  background-color: #38ddf7;
}

#popular-categories .owl-carousel .owl-item .item .categories .dark-orange {
  background-color: #f89035;
}

#popular-categories .owl-carousel .owl-item .item .categories .danger {
  background-color: #f6475f;
}
/*# sourceMappingURL=style.css.map */