.btn {
  background-color: $orange-color;
  padding: 7px 15px;
  color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    width: 1em;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(-45deg) translateX(-4em);
    transition: all 0.8s;
  }

  &:hover {
    background-color: $darken-orange-color;
    color: white;
    &:before {
      transform: skewX(-45deg) translateX(20em);
    }
  }
}
.btn-lg {
  padding: 12px 30px;
}
.btn-prim {
  background-color: #eee;
  padding: 5px 25px;
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 4px;
  color: $header-color;
  @include transition(all 0.5s);
  &:hover {
    background-color: $orange-color;
    color: white;
  }
}
.btn-outline-white{
   animation-name: hover;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    opacity: 0;

    @keyframes hover {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    border: 1px solid white;
    color: white;
    padding: 9px 20px;
    border-radius: 3px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: transparent;

    &::before {
        content: "";
        background-color:white;
        height: 100%;
        width: 0;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        @include transition(all 0.4s)
    }

    &:hover {
        text-decoration: none;
        color:$orange-color;

        &::before {
            left: 0%;
            right: initial;
            width: 100%;
        }
    }


}
.ripple {
  background-color: #ffffff;
  border-radius: 100%;
  color: #ffbc09;
  position: relative;
  display: inline-block;
  margin-right: 25px;
  line-height: 50px;
  font-size: 18px !important;
  vertical-align: middle;
  margin-left: 0;
  height: 50px;
  width: 50px;
  text-align: center;

  &::after {
    content: "";
    animation: ripple 1.4s infinite;
    background-color: #ffffff;
    border-radius: 100%;
    margin: -10px;
    bottom: 0px;
    display: block;
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    animation-delay: 0.4s;

    @keyframes ripple {
      from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
      }

      to {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1);
      }
    }
  }
   &::before {
    content: "";
    animation: ripple 2s infinite;
    background-color: #ffffff;
    border-radius: 100%;
    margin: -20px;
    bottom: 0px;
    display: block;
    left: 0px;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    animation-delay: 0.2s;

    @keyframes ripple {
      from {
        opacity: 1;
        transform: scale3d(0.75, 0.75, 1);
      }

      to {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1);
      }
    }
  }
}

  
