#carusel-slide {
    position: relative;
    max-width: 100%;

    .carousel-item {
        height: 470px;
        position: relative;
        max-width: 100%;
        

        &::before {
            content: " ";
            position: absolute;
            top: 0px;
            left: 0px;
            height: 470px;
            width: 100%;
            background-color: black;
            opacity: 0.5;
        }

        .cor-item {
            padding: 180px;

            h2 {
                font-size: 44px;
                margin-bottom: 20px;
                vertical-align: bottom;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                animation-name: visibl;
                animation-duration: 2s;
                animation-delay: 1s;
                animation-fill-mode: both;
                opacity: 0;

                @keyframes visibl {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }

            }

            p {
                color: white;
                animation-name: visibl;
                animation-duration: 2s;
                animation-delay: 1.5s;
                animation-fill-mode: both;
                opacity: 0;

                @keyframes visibl {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }
            }

            .btn {
                animation-name: visibl;
                animation-duration: 2s;
                animation-delay: 2s;
                animation-fill-mode: both;
                opacity: 0;
                margin-right: 20px;
                padding: 10px 20px;

                @keyframes visibl {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }
            }

           .btn-outline-white{
             animation-name: visibl;
                animation-duration: 2s;
                animation-delay: 2s;
                animation-fill-mode: both;
                opacity: 0;
                margin-right: 20px;

                @keyframes visibl {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
           }
        }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        position: absolute;
        display: inline-block;
        width: 55px;
        height: 55px;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: none;
        line-height: 55px;
        text-align: center;
        font-size: 30px;
        top: 50%;
    }

    .carousel-control-prev-icon {
        left: 15px;
    }

    .carousel-control-next-icon {
        right: 15px;

    }

}
#corusel {
  overflow: hidden;
  #carouselvisiblControls {
    height: 470px;
    .carousel-inner {
      .carousel-item {
        img {
          margin-top: -100px;
        }
      }
    }
  }
}
#popular-categories {
  .cat-owl-carousel {
    display: flex;
    .owl-item {
      width: 172.5px;
      margin-right: 15px;
      .item {
        .categories {
          margin-right: 10px;
       a {
            border-radius: 5px;
            display: block;
            text-align: center;
            padding: 30px 20px;
            color: #fff;
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            i {
              display: block;
              margin-bottom: 10px;
              font-size: 30px;
            }
          }
          .green {
            background-color: $succsess-color;
          }
          .orange {
            background-color: $orange-color;
          }
          .violet {
            background-color: $violet-color;
          }
          .blue {
            background-color: $sea-color;
          }
          .dark-orange {
            background-color: $dark-orange-color;
          }
          .danger{
            background-color: $danger-color;
          }
        }
      }
    }
  }
}
}