@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Rubik:300,400,500,700,900&display=swap");

h1,h2,h3,h4,h5,h6 {
  color: $header-color;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
}
h2 {
  font-size: 32px;
  margin-bottom: 16px;
  margin-top: 20px;
}
h5 {
  font-size: 20px;
}
p {
  color: $secondary-color;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}
