$orange-color:#FFBC09;
$dark-orange-color:#f89035;
$darken-orange-color:#DF9C00;
$danger-color:#f6475f;
$primary-dark-color:#343a40;
$first-color:#2a2c2d;
$secondary-color:#8d8d8d;
$succsess-color:#b3d36a;
$dark-success-color:#165825;
$violet-color:#f94fa4;
$sea-color:#38ddf7;
$ligter-sea-color:#d1ecf1;
$darken-sea-color:#236671;
$blue-color:#364b5c;
$dark-blue-color:#07294d;
