#contact-head {
  background-image: url(../img/about_bg.jpg);
  padding: 100px 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:before {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  h2 {
    color: white;
  }
  .links {
    margin-top: 25px;
    margin-left: 372px;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      li {
        color: white;
        padding: 3px;
        a {
          text-decoration: none;
          color: white;
          &:hover {
            color: $orange-color;
          }
        }
      }
    }
  }
}
#get-in-touch {
  padding: 100px;
  .row {
    justify-content: center;
    .intro {
      text-align: center;
    }
  }
  .box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    .contact {
      padding: 25px;
      margin-top: 35px;
    }
    .contact-map {
      overflow: hidden !important;
      width: 100%;
      height: 100% !important;
    }
  }
}
#contact-information {
  padding: 100px;
  .row {
    justify-content: center;
    .intro {
      text-align: center;
    }
  }
  .icon-box {
    padding: 30px;
    z-index: 9;
    margin-top: 30px;
    transition: all 0.5s ease-in-out;
    img {
      position: relative;
      margin-bottom: 16px !important;
      max-width: 60px;
    }
    .cont-text {
      position: relative;
      color: white;
      h5{
          text-transform: capitalize;
          color: white;
      }
      p{
          margin: 0;
          color: white;
      }
    }
  }
  .adress {
    background-image: url(../img/address_img.jpg);
    background-position: center center;
    background-size: cover;
    animation-delay: 0.02s;
    opacity: 1;
    position: relative;
    text-align: center !important;
    border-radius: 10px;
    &:before {
      background-color: rgba(245, 87, 108, 0.9);
      border-radius: 10px;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .call {
    background-image: url(../img/call_img.jpg);
    background-position: center center;
    background-size: cover;
    animation-delay: 0.02s;
    opacity: 1;
    position: relative;
    text-align: center !important;
    border-radius: 10px;
    &:before {
      background-color: rgba(179, 211, 105, 0.90);
      border-radius: 10px;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .email {
    background-image: url(../img/email_img.jpg);
    background-position: center center;
    background-size: cover;
    animation-delay: 0.02s;
    opacity: 1;
    position: relative;
    text-align: center !important;
    border-radius: 10px;
    &:before {
      background-color: rgba(255, 188, 9, 0.90);
      border-radius: 10px;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
