#courses-detail-head {
  background-image: url(../img/about_bg.jpg);
  padding: 100px 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:before {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  h2 {
    color: white;
  }
  .links {
    margin-top: 25px;
    margin-left: 372px;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      li {
        color: white;
        padding: 3px;
        a {
          text-decoration: none;
          color: white;
          &:hover {
            color: $orange-color;
          }
        }
      }
    }
  }
}
#detail {
  padding: 100px;
  .course {
    .course-img {
      position: relative;
      a {
        img {
          max-width: 100%;
          vertical-align: middle;
          border-style: none;
        }
      }
    }
    .price {
      .free {
        position: absolute;
        bottom: 20px;
        left: 20px;
        border: 1px solid #c3e6cb;
        color: $dark-success-color;
        background-color: $light-succsess-color;
        padding: 5px 15px;
        margin: 0px;
        border-radius: 0.25rem;
      }
    }
    .enroll {
      a {
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
    .course-detail {
      background-color: #fff3cd;
      padding: 20px;
      margin-bottom: 40px;
      .detail-title {
        border-bottom: 1px solid #dad1b9;
        margin-bottom: 15px;
        h2 {
          font-size: 24px;
          margin-top: 0;
        }
      }
      .detail-content {
        ul {
          list-style-type: none;
          display: flex;
          padding: 0;
          margin: 0;
          li {
            float: left;
            padding-right: 15px;
            margin-right: 15px;
            border-right: 1px solid #dad1b9;
            .content {
              img {
                border-radius: 5px;
                float: left;
                margin-right: 10px;
                max-width: 50px;
                width: 100%;
              }
              .info {
                overflow: hidden;
                span {
                  display: block !important;
                  font-weight: bold;
                  color: #333;
                  margin: 0;
                }
                a {
                  color: #292b2c;
                  text-decoration: none;
                  @include transition(all 0.5s);
                  &:hover {
                    color: $orange-color;
                  }
                }
                ul {
                  list-style-type: none;
                  display: flex;
                  padding: 0;
                  margin: 0;
                  li {
                    border-right: 0 solid #dad1b9;
                    padding: 0;
                    margin: 2px;
                    i {
                      color: $orange-color;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
            &:last-child {
              border-right: 0 solid #dad1b9;
            }
          }
        }
      }
    }
    .course-info-tabs {
      padding: 20px;
      ul {
        li {
          margin-right: 20px;

          a {
            border: none;
            color: $header-color;
            font-family: "Roboto", sans-serif;
          }

          .active {
            border-bottom: 3px solid $orange-color;
            color: $orange-color;
          }
        }
      }
      .tab-content {
        margin-top: 20px;

        .content-text {
          padding: 15px;
          border: 1px solid #dee2e6 !important;
          border-radius: 5px;

          p {
            text-align: left;
            color: $secondary-color;
            font-family: "Roboto", sans-serif;

            &:last-child {
              margin: 0;
            }
          }
        }

        .accordion .card-header a.collapsed::after {
          content: "\f106";
        }

        .card-header {
          padding: 0 !important;
          background-color: transparent !important;

          .item_time {
            background-color: $orange-color;
            color: #fff;
            padding: 4px 8px;
            border-radius: 3px;
            position: absolute;
            right: 20px;
            font-size: 14px;
            top: 20px;

            &::before {
              content: "\f017";
              font-family: "Font Awesome 5 Pro";
              font-weight: 400;
              margin-right: 5px;
            }
          }

          h6 {
            a {
              @include transition(all 0.3s);
              color: $header-color;
              font-family: "Rubik", sans-serif;
              display: block;
              font-size: 18px;
              text-transform: capitalize;
              line-height: normal;
              padding: 20px 120px 20px 50px;
              font-weight: bold;

              &:hover {
                text-decoration: none;
                color: $orange-color;
              }

              &::after {
                content: "\f107";
                font-family: "Font Awesome 5 Pro";
                font-size: 14px;
                font-weight: 900;
                position: absolute;
                left: 20px;
                top: 22px;
              }
            }
          }
        }

        .card-body {
          p {
            color: $secondary-color;
            font-family: "Roboto", sans-serif;
          }
        }

        .course_author {
          background-color: #fff;
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          padding: 30px 30px 30px 50px;
          margin: 5px 5px 5px 50px;
          position: relative;
          z-index: 1;

          .author_img {
            margin-left: -100px;
            float: left;
            margin-right: 20px;

            img {
              border-radius: 5px;
            }
          }

          .author_meta {
            h6 {
              color: $header-color;
              font-family: "Rubik", sans-serif;
              font-weight: bold;
              margin: 0;
            }

            span {
              font-style: italic;
              color: $orange-color;
            }

            p {
              color: $secondary-color;
              font-family: "Roboto", sans-serif;
              font-size: 15px;
            }
          }
        }

        .course_rating {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 15px;

          .rating_review {
            width: 40%;
            text-align: center;
            background-color: #f5f5f5;
            padding: 20px;

            .rating_stars {
              i {
                color: #ffc600;
                font-size: 13px;
                line-height: normal;
              }
            }

            p {
              color: $secondary-color;
              font-family: "Roboto", sans-serif;

              .review_number {
                display: block;
                font-size: 70px;
                color: #333;
                font-weight: 500;
                line-height: normal;
              }
            }
          }
        }

        .rating_box {
          width: 60%;
          padding: 20px;

          .course_rate {
            margin-bottom: 10px;

            span {
              color: $secondary-color;
            }

            .review_bar {
              width: calc(100% - 120px);
              margin: 0 10px;
              height: 15px;
              background-color: #ddd;
              display: inline-block;

              .rating {
                background-color: $orange-color !important;
                height: 15px;
              }
            }
          }
        }

        .heading_s1 {
          h5 {
            margin-bottom: 16px;
            color: $header-color;
            font-family: "Rubik", sans-serif;
            font-weight: bold;
          }
        }

        .btn {
          @include transition(all 0.3s);
        }

        .btn:hover {
          &::before {
            left: 200px;
          }
        }

        .comment_list {
          list-style-type: none;

          .user_img {
            img {
              border-radius: 5px;
              max-width: 100px;
              margin-right: 15px;
            }
          }

          .comment_info {
            padding-top: 15px;
            margin-top: 15px;
            border-top: 1px solid #ddd;
          }

          .comment_content {
            p {
              color: #888888;
            }

            .meta_data {
              margin-bottom: 6px;

              a {
                @include transition(all 0.3s);
                color: $header-color;
                font-family: "Rubik", sans-serif;
                font-weight: bold;

                &:hover {
                  text-decoration: none;
                  color: $orange-color;
                }
              }

              .comment-time {
                font-size: 14px;
                text-transform: capitalize;
                color: #333;
                font-family: "Roboto", sans-serif;
              }
            }
          }
        }
      }
    }
    .card {
      .card-img {
        overflow: hidden;
        a {
          display: block;
          img {
            width: 100%;
            @include transition(all 0.3s);

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
      .card-body {
        padding: 0px;
        .card-txt {
          padding: 15px;
          .card-inform {
            p {
              margin-bottom: 10px;
              text-align: left;
            }
          }
          .course-inform {
            justify-content: space-between;
            .stars {
              color: $orange-color;
              font-size: 12px;
              float: left;
            }
            .view-like {
              list-style: none;
              display: flex;
              float: right;
              font-size: 12px;
              li {
                a {
                  text-decoration: none;
                  color: black;
                  @include transition(all 0.5s);
                  &:hover {
                    color: $orange-color;
                  }
                }
                &:first-child {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
      .card-footer {
        background-color: white;
        justify-content: space-between;
        display: flex;
        padding: 15px;
        width: 100%;
        .teacher {
          a {
            color: $header-color;
            text-decoration: none;

            cursor: pointer;

            img {
              border-radius: 100%;
              max-width: 40px;
              margin-right: 10px;
            }
            span {
              cursor: pointer;
              @include transition(all 0.5s);
              &:hover {
                color: $orange-color;
              }
            }
          }
        }
        .price {
          float: right;
          margin-top: 7px;
          .free {
            position: relative;
            border: 1px solid #c3e6cb;
            color: $dark-success-color;
            background-color: $light-succsess-color;
            padding: 5px 15px;
            margin: 0px;
            border-radius: 0.25rem;
          }
          .paid {
            position: relative;
            border: 1px solid #bee5eb;
            color: $darken-sea-color;
            background-color: $ligter-sea-color;
            padding: 5px 15px;
            margin: 0px;
            border-radius: 0.25rem;
          }
        }
      }
    }
  }
  .sidebar {
    .search {
      .search_form {
        position: relative;
        a {
          text-decoration: none;
          color: $header-color;
          position: absolute;
          top: 8px;
          right: 10px;
        }
      }
    }
    .latest-course {
      margin-bottom: 15px;
      padding-bottom: 15px;
      h5 {
        padding: 10px;
        &:before {
          bottom: 0;
          content: "";
          height: 4px;
          left: 23px;
          position: absolute;
          width: 80px;
          z-index: 1;
          background-color: #ffbc09;
          top: 88px;
        }
        &:after {
          background-color: #ddd;
          position: absolute;
          left: 28px;
          right: 0;
          height: 1px;
          bottom: 0;
          width: 100%;
          content: "";
          z-index: 0;
          top: 91px;
        }
      }
    }
  }
}
