#courses-head {
  background-image: url(../img/about_bg.jpg);
  padding: 100px 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:before {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  h2 {
    color: white;
  }
  .links {
    margin-top: 25px;
    margin-left: 379px;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      li {
        color: white;
        padding: 3px;
        a {
          text-decoration: none;
          color: white;
          &:hover {
            color: $orange-color;
          }
        }
      }
    }
  }
}
#our-courses {
  .courses-pages {
    padding-top: 50px;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      li {
        margin-right: 5px;
        cursor: pointer;
        a {
          text-decoration: none;
          background-color: #fff;
          border-color: #dee2e6;
          margin-left: 0;
          border-radius: 0.25rem;
          border: 2px solid #dee2e6;
          border-radius: 4px;
          color: #888888;
          height: 40px;
          width: 40px;
          text-align: center;
          line-height: 36px;
          padding: 10px;
          &:hover {
            border-color: $orange-color;
            background-color: $orange-color;
            color: white;
          }
        }
        .active {
          border-color: $orange-color;
          background-color: $orange-color;
          color: white;
        }
        .disable {
          &:hover{
              background-color: #fff;
          border-color: #dee2e6;
          color: #888888;
          }
        }
      }
    }
  }
}
