// header section start
#alert-box {
  .discount {
    background-color: $danger-color;
    padding: 12px;
    .discount-content {
      font-family: "Roboto", sans-serif;
      span {
        color: white;
        a {
          text-decoration: underline;
          color: white;
        }
      }
      button {
        float: none;
        vertical-align: middle;
        margin-left: 15px;
        font-size: 30px;
        padding: 0px;
        margin-bottom: 4px;
        font-family: inherit;
      }
    }
  }
}
#top-nav {
  .top-navigation {
    background-color: $primary-dark-color;
    .contact {
      padding: 12px;
      margin-bottom: 0px;
      li {
        font-size: 14px;
        list-style-type: none;
        display: inline-block;
        a {
          color: white;
          text-decoration: none;
          @include transition(all 0.5s);
          i {
            margin-right: 9px;
          }
          &:hover {
            color: $orange-color;
          }
        }
        &:last-child {
          margin-left: 9px;
        }
      }
    }
    span {
      color: white;
      font-size: 28px;
      margin-bottom: 8px;
    }
  }
}
#navigation-bar {
  position: relative;
  .search-panel {
    display: none;
    position: absolute;
    top: 70px;
    right: 15px;
    .form-control {
      border-right: none;
    }
    .input-group-append {
      border-bottom: 1px solid;
      border-top: 1px solid;
      border-right: 1px solid;
      font-size: 13px;
      border-color: #ced4da;
      a {
        color: black;
      }
    }
  }
  .navbar {
    padding: 0px;
    .collapse {
      .navbar-nav {
        .nav-item {
          .search-menu {
            margin-left: -140px;
            z-index: 1;
            padding: 8px;
            width: 200px;
            input {
              position: relative;
            }
            a {
              position: absolute;
              top: 7px;
              right: 7px;
              i {
                color: black;
              }
            }
          }
          .nav-link {
            color: #292b2c;
            font-size: 14px;
            font-weight: 600;
            padding: 25px 10px;
            text-transform: uppercase;
            &:hover {
              color: $orange-color;
            }
          }
          .dropdown {
            &:after {
              content: "\f107";
              font-family: "Font Awesome 5 Pro";
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}
.nav-fix {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: white;
}
// header section end

// main section start
#eduglobal {
  padding: 100px;
  background-color: #f7f7f7;
  .row {
    justify-content: center;
    .intro {
      text-align: center;
    }
  }
  .card {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    &:hover {
      margin-top: -20px;
      @include transition(all 0.5s);
      .box-icon::before {
        margin: 5px;
        opacity: 1;
      }
    }
    .card-body {
      padding: 20px 0 0 0;
    }
    .box-icon {
      margin: 0 auto;
      height: 110px;
      width: 110px;
      border-radius: 50%;
      text-align: center;
      line-height: 105px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border: 3px solid #fff;
        border-radius: 100%;
        margin: 0px;
        opacity: 0;
        @include transition(all 0.5s ease-in-out);
      }
    }
    .book {
      background-color: $danger-color;
    }
    .globe {
      background-color: $orange-color;
    }
    .instructors {
      background-color: $succsess-color;
    }
  }
}
#popular-categories {
  padding: 100px;
  .row {
    justify-content: center;

    .intro {
      text-align: center;
    }
  }
}
#about-us {
  overflow: hidden;
  padding: 100px 0;
  .container-fluid {
    .about {
      margin-right: -50px;
      position: relative;
      z-index: 2 !important;
      border-radius: 0 200px 200px 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      padding: 8%;
      background-color: white;
      p {
        text-align: left;
      }
      ul {
        list-style-type: none;
        display: flex;
        li {
          text-align: left;
          &:first-child {
            margin-right: 20px;
            h3 {
              color: $danger-color;
            }
          }
          &:last-child {
            h3 {
              color: $succsess-color;
            }
          }
        }
      }
    }
    .video {
      background-color: rgba(0, 0, 0, 0.3);
      position: relative;
      &::before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
      img {
        z-index: -1;
        position: relative;
        max-width: 100%;
        border-style: none;
      }
    }
    .play {
      position: absolute;
      right: 0;
      display: table;
      left: 50%;
      top: 50%;
      -moz-transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
      text-align: center;
      .play-btn {
        background-color: #ffffff;
        border-radius: 100%;
        color: #ffbc09;
        position: relative;
        display: inline-block;
        margin-right: 25px;
        line-height: 50px;
        font-size: 18px !important;
        vertical-align: middle;
        margin-left: 0;
        height: 50px;
        width: 50px;
        text-align: center;
        .fa-play {
          color: $orange-color;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
#our-courses {
  padding: 100px;
  .row {
    justify-content: center;
    .intro {
      text-align: center;
    }
    .card {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      margin-top: 30px;
      .card-img {
        overflow: hidden;
        a {
          display: block;
          img {
            width: 100%;
            @include transition(all 0.3s);

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
      .card-body {
        padding: 0px;
        .card-txt {
          padding: 15px;
          .card-inform {
            p {
              margin-bottom: 10px;
              text-align: left;
            }
          }
          .course-inform {
            justify-content: space-between;
            .stars {
              color: $orange-color;
              font-size: 12px;
              float: left;
            }
            .view-like {
              list-style: none;
              display: flex;
              float: right;
              font-size: 12px;
              li {
                a {
                  text-decoration: none;
                  color: black;
                  @include transition(all 0.5s);
                  &:hover {
                    color: $orange-color;
                  }
                }
                &:first-child {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
      .card-footer {
        background-color: white;
        justify-content: space-between;
        display: flex;
        padding: 15px;
        width: 100%;
        .teacher {
          a {
            color: $header-color;
            text-decoration: none;

            cursor: pointer;

            img {
              border-radius: 100%;
              max-width: 40px;
              margin-right: 10px;
            }
            span {
              cursor: pointer;
              @include transition(all 0.5s);
              &:hover {
                color: $orange-color;
              }
            }
          }
        }
        .price {
          float: right;
          margin-top: 7px;
          .free {
            position: relative;
            border: 1px solid #c3e6cb;
            color: $dark-success-color;
            background-color: $light-succsess-color;
            padding: 5px 15px;
            margin: 0px;
            border-radius: 0.25rem;
          }
          .paid {
            position: relative;
            border: 1px solid #bee5eb;
            color: $darken-sea-color;
            background-color: $ligter-sea-color;
            padding: 5px 15px;
            margin: 0px;
            border-radius: 0.25rem;
          }
        }
      }
    }
  }
  .all-courses {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    a {
      span {
        font-size: 20px;
      }
    }
  }
}
#counter {
  overflow: hidden;
  position: relative;
  .counter-bg-img {
    width: 100%;
    height: 350px;
    background-color: rgba(7, 41, 77, 0.7);
    position: relative;
    &::before {
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    img {
      z-index: -1;
      position: relative;
      max-width: 100%;
      border-style: none;
      margin-top: -200px;
    }
  }
  .container {
    position: absolute;
    top: 50%;
    .row {
      margin-left: 25%;
    }
    .counter-body {
      h3 {
        color: #fff;
      }
      p {
        display: flex;
      }
    }
  }
}
#upcoming {
  padding: 100px;
  .row {
    justify-content: center;
    .intro {
      text-align: center;
    }
  }
  .card {
    border-radius: 10px;
    margin-top: 30px;
    .card-img {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      a {
        display: block;
        img {
          width: 100%;
          @include transition(all 0.3s);

          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .event-date {
        position: absolute;
        top: 10px;
        left: 10px;
        max-width: 75px;
        background-color: #fff;
        text-align: center;
        width: 100%;
        border-radius: 7px;
        h5 {
          span {
            background-color: white;
            color: black;
            display: block;
            border-radius: 5px 5px 0 0;
          }
        }
        span {
          background-color: $orange-color;
          color: white;
          display: block;
          border-radius: 0 0 5px 5px;
        }
      }
    }
    .card-body {
      .card-inform {
        h6 {
          @include transition(all 0.3s);
          cursor: pointer;
          &:hover {
            color: $orange-color;
          }
        }
        .view {
          list-style: none;

          display: flex;
          padding: 0px;
          li {
            float: left;
            &:first-child {
              margin-right: 20px;
            }
            a {
              text-decoration: none;
              color: $orange-color;
            }
          }
        }
        .card-text {
          text-align: left;
        }
      }
    }
  }
}
#online-courses {
  padding: 80px 0 0 0;
  position: relative;
  width: 100%;
  background-image: url(../img/pattern_bg.png);
  background-position: center center;
  background-size: cover;
  background-color: $dark-blue-color;
  margin-top: 100px;
  .register-form {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8%;
    opacity: 1;
    .register-heading {
      color: white;
      h2 {
        color: white;
        margin-bottom: 16px;
        text-transform: capitalize;
        span {
          color: #ffbc09 !important;
        }
      }
    }
    p {
      color: white;
      margin-top: 0;
      margin-bottom: 16px;
      text-align: left;
      font-weight: bold;
    }
    form {
      .form-control {
        background-color: transparent;
        color: #fff;
        border-color: #fff;
        height: 47px;
        padding: 10px 20px;
        margin-top: 30px;
      }
      .message {
        height: auto;
        padding: 10px 20px;
      }
    }
  }
  .img {
    text-align: center;
    vertical-align: middle;
    padding: 0;
    opacity: 1;
    animation-delay: 0.03s;
  }
}
#our-gallery {
  padding: 100px;
  .row {
    justify-content: center;
    .intro {
      text-align: center;
    }
  }
  .buttons {
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 30px auto;
      li {
        margin: 0 10px;
        a {
          text-decoration: none;
        }
      }
    }
  }
  .active {
    background-color: $orange-color;
    color: white;
  }
  .row {
    padding: 0;
  }
  .gallery-item {
    width: 100%;
  }

  .item {
    float: left;
    margin: 10px 10px;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px;
    &:hover{
      a{
        @include transition (all 0.5s);
        opacity: 1;
        z-index: 99;
        position:relative;
        top:-34;
        left:-58%;

      }
    }
    &:before{
            background-color: black;
            content: "";
            position: absolute;
            width: 100%;
            opacity: 0;
            height: 100%;
            -webkit-transition: all 0.5s;
            transition: all 0.5s ease-in-out;
            z-index: 99;
            border-radius: 10px;
    }
    &:hover{
      &:before{
        opacity: 0.5;
      }
    }

    img {
      border-radius: 10px;
    }
    a{
      opacity: 0;
    }
    span{
      position: absolute;
      left: 42%;
      top: -20px;
      text-align: center;
      h5{
        position: absolute;
        top: 70px;
        left: -10px;
        color: white;
      }
    }
  }
}

#our-teachers {
  background-image: url("../img/teacher_bg.jpg");
  padding: 100px 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:before {
    background-color: rgba(7, 41, 77, 0.9);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .row {
    justify-content: center;
    .intro {
      text-align: center;
      h2 {
        color: white;
      }
      p {
        color: white;
      }
    }
  }
  .card {
    border: 0px;
    .card-body {
      text-align: center;
    }
  }
}
#student-say {
  padding: 100px;
  .row {
    justify-content: center;
    .intro {
      text-align: center;
    }
  }
  .student-owl-carousel {
    .student-owl-item {
      .item {
        .box {
          background-color: #fff;
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          padding: 15px 30px 15px 50px;
          margin: 5px 5px 5px 50px;
          position: relative;
          z-index: 1;
          &:before {
            content: "\f10e";
            position: absolute;
            right: 40px;
            top: 0;
            font-family: "Font Awesome 5 Pro";
            font-size: 190px;
            line-height: normal;
            font-weight: 900;
            z-index: -1;
            color: rgba(0, 0, 0, 0.02);
          }
          .box-image {
            margin-right: 20px;
            margin-left: -100px;
            position: absolute;
            img {
              border-radius: 5px;
            }
          }
          .box-content {
            overflow: hidden;
            .user-name {
              text-align: left;
              h6 {
                margin-bottom: 8px;
              }
              span {
                font-style: italic;
                color: $orange-color;
              }
            }
            .user-comment {
              p {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
#blog {
  padding: 100px;
  background-color: #f7f7f7;
  .row {
    justify-content: center;
    .intro {
      text-align: center;
    }
  }
  .card {
    overflow: hidden;
    border-radius: 10px;
    margin-top: 30px;
    .card-img {
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-in-out;
      }
    }
    .card-body {
      padding: 16px;
      .card-txt {
        .card-inform {
          text-align: left;
          h6 {
            a {
              text-decoration: none;
              color: $header-color;
              @include transition(all 0.5s);
              font-family: "Roboto", sans-serif;
              font-size: 16px;
              &:hover {
                color: $orange-color;
              }
            }
          }
          p {
            text-align: left;
            margin-bottom: 10px;
          }
          a {
            text-decoration: none;
            color: $header-color;
            @include transition(all 0.5s);
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            &:hover {
              color: $orange-color;
            }
          }
        }
      }
    }
    .card-footer {
      padding: 15px;
      border-radius: 0 0 10px 10px;
      line-height: normal;
      background-color: white;
      ul {
        list-style-type: none;
        display: flex;
        padding: 0px;
        margin-bottom: 0;
        li {
          color: $header-color;
          a {
            text-decoration: none;
            color: $secondary-color;
            @include transition(all 0.5s);
            &:hover {
              color: $orange-color;
            }
            i {
              color: $orange-color;
              margin-right: 5px;
            }
          }
          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .all-blog {
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    a {
      span {
        font-size: 20px;
      }
    }
  }
}
#our-client {
  padding: 100px;
  .row {
    justify-content: center;
    .intro {
      text-align: center;
    }
  }
  .client-owl-carousel {
    margin-top: 50px;
  }
}
#training {
  background-color: $orange-color;
  padding: 50px 0;
  position: relative;
  width: 100%;
  .txt {
    float: left;
    h2 {
      color: white;
    }
    p {
      color: white;
    }
  }
  .button {
    text-align: center;
    margin-top: 30px;
    display: block;
    float: right;
  }
}
// main section end

// footer section start
#footer-top {
  padding: 100px;
  background-color: $primary-dark-color;
  .footer-contact {
    p {
      font-size: 14px;
      text-align: left;
      color: white;
      margin-top: 10px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        color: white;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        i {
          color: white;
          font-size: 18px;
          vertical-align: middle;
          max-width: 30px;
          width: 100%;
          text-align: center;
          margin-right: 5px;
        }
        a {
          font-size: 14px;
          color: white;
          text-decoration: none;
          @include transition(all 0.5s);
          &:hover {
            color: $orange-color;
          }
        }
        span {
          font-size: 14px;
        }
      }
    }
  }
  .useful-links {
    h6 {
      color: white;
      font-size: 18px;
      margin: 10px 0 20px 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        padding-bottom: 10px;
        a {
          font-size: 14px;
          color: white;
          text-decoration: none;
          &:hover {
            color: $orange-color;
            margin-left: 10px;
          }
        }
      }
    }
  }
  .recent-post {
    h6 {
      color: white;
      font-size: 18px;
      margin: 10px 0 20px 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        display: flex;
        width: 100%;
        margin-bottom: 12px;
        .posts {
          .post-img {
            float: left;
            margin-right: 10px;
            max-width: 60px;
            a {
              img {
                max-width: 100%;
              }
            }
          }
          .post-content {
            overflow: hidden;
            margin-top: -10px;
            h6 {
              font-size: 14px;
              line-height: normal;
              margin-bottom: 5px;
              font-weight: normal;
              a {
                text-decoration: none;
                color: white;
                @include transition(all 0.5);
                &:hover {
                  color: $orange-color;
                }
              }
            }
            span {
              color: rgba(255, 255, 255, 0.6);
              font-size: 80%;
            }
          }
        }
      }
    }
  }
  .sub-news {
    h6 {
      color: white;
      font-size: 18px;
      margin: 10px 0 20px 0;
    }
    p {
      font-size: 14px;
      text-align: left;
      color: white;
      margin-top: 10px;
    }
    .input-group {
      input {
        position: relative;
        border-radius: 5px;
      }
      .input-group-append {
        a {
          text-decoration: none;
          color: white;
          position: absolute;
          right: 4px;
          top: 4px;
        }
        .btn {
          padding: 2px 15px;
          border-radius: 5px;
        }
      }
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: inline-block;
        padding: 2px 3px;
        a {
          background-color: rgba(255, 255, 255, 0.1);
          color: white;
          border-radius: 5px;
          font-size: 18px;
          height: 35px;
          width: 35px;
          line-height: 36px;
          display: inline-block;
          text-align: center;
          @include transition(all 0.5s);
          &:hover {
            color: $orange-color;
          }
        }
      }
    }
  }
}
#footer-bottom {
  background-color: #202325;
  padding: 30px 0;
  p {
    color: white;
    font-size: 14px;
  }
  ul {
    list-style-type: none;
    text-align: right !important;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      position: relative;
      justify-content: center;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
    }
  }
}

// footer section end
.scrollup {
  background-color: #2f2f2f;
  border-radius: 100%;
  bottom: 20px;
  color: #ffffff;
  font-size: 24px;
  height: 40px;
  line-height: 38px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 40px;
  z-index: 99;
  i {
    color: white;
  }
}
