#alert-box {
  .discount {
    background-color: $danger-color;
    padding: 12px;
    .discount-content {
      font-family: "Roboto", sans-serif;
      span {
        color: white;
        a {
          text-decoration: underline;
          color: white;
        }
      }
      button {
        float: none;
        vertical-align: middle;
        margin-left: 15px;
        font-size: 30px;
        padding: 0px;
        margin-bottom: 4px;
        font-family: inherit;
      }
    }
  }
}
#top-nav {
  .top-navigation {
    background-color: $primary-dark-color;
    .contact {
      padding: 12px;
      margin-bottom: 0px;
      li {
        font-size: 14px;
        list-style-type: none;
        display: inline-block;
        a {
          color: white;
          text-decoration: none;
          @include transition(all 0.5s);
          i {
            margin-right: 9px;
          }
          &:hover {
            color: $orange-color;
          }
        }
        &:last-child {
          margin-left: 9px;
        }
      }
    }
    span {
      color: white;
      font-size: 28px;
      margin-bottom: 8px;
    }
  }
}
#navigation-bar {
  position: relative;
  .search-panel {
    display: none;
    position: absolute;
    top: 70px;
    right: 15px;
    .form-control {
      border-right: none;
    }
    .input-group-append {
      border-bottom: 1px solid;
      border-top: 1px solid;
      border-right: 1px solid;
      font-size: 13px;
      border-color: #ced4da;
      a {
        color: black;
      }
    }
  }
  .navbar {
    padding: 0px;
    .collapse {
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: #292b2c;
            font-size: 14px;
            font-weight: 600;
            padding: 25px 10px;
            text-transform: uppercase;
            &:hover {
              color: $orange-color;
            }
          }
          .dropdown {
            &:after {
              content: "\f107";
              font-family: "Font Awesome 5 Pro";
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}
#eduglobal {
  background-color: #f7f7f7;
  .row {
    justify-content: center;
    .intro {
      text-align: center;
    }
  }
  .card {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    &:hover {
      margin-top: -20px;
      @include transition(all 0.5s);
      .box-icon::before{
         position: absolute;
        left: 10px;
        top: 10px;
        bottom: 10px;
        right: 10px;
        border: 3px solid #fff;
        border-radius: 50%;
        margin: 0px;
        opacity: 0;
      }
    }
    .box-icon {
      margin: 0 auto;
      height: 110px;
      width: 110px;
      border-radius: 50%;
      text-align: center;
      line-height: 105px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border: 3px solid #fff;
        border-radius: 100%;
        margin: 0px;
        opacity: 0;
        @include transition(all 0.5s ease-in-out);
      }
    }
    .book {
      background-color: $danger-color;
    }
    .globe {
      background-color: $orange-color;
    }
    .instructors {
      background-color: $succsess-color;
    }
  }
}
